<div class="card h-100 cursor-pointer" 
  onclick="window.location.href='/about/{{ include.currentPost.url }}'">
  <div class="card-body">
    {{ include.currentPost.date | date: "%-d %B %Y" }}
    <a href="/about/{{ include.currentPost.url }}" class="text-normal">
      <h5>{{ include.currentPost.title }}</h5>
    </a>
    <p class="card-text">
      {{ include.currentPost.excerpt }}
    </p>
    <span>
      {% for tag in post.tags %}
      <a href="/about/tag_index#{{ tag | slugify }}" class="badge bg-primary">
        <span class="fas fa-tag" aria-hidden="true"></span> {{ tag }}
      </a>
      {% endfor %}
    </span>
  </div>
  <div class="card-footer p-3 d-flex justify-content-between">
    <a href="/about/{{ include.currentPost.url }}" class="btn btn-link ml-auto">
      Read More <i class="fa fa-caret-right"></i>
    </a>
  </div>
</div>